/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
      .m-email-field input#password {
        margin-bottom: 1.2em;
      }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

      header.l-top-head h1 {
      margin-top: 0.5em;
    }

    .l-top-head h2 {
      margin-bottom: 10.5em;
    }

     #email {
      margin-bottom: 3em;
    }

    .m-email-field input#password {
        margin-bottom: 1.2em;
      }

  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

    header.l-top-head h1 {
      margin-top: 0.5em;
    }

    .l-top-head h2 {
      margin-bottom: 5em;
    }

     input#email {
      margin-bottom: 1.5em;
    }

     .m-login-new a {
      font-size: 1.5em;
      margin-bottom: 1.5em;
    }

      .m-email-field input#password {
        margin-bottom: 2.0em;
      }

  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

    header.l-top-head h1 {
      margin-top: 0.5em;
      font-size: 5em;
    }

    .l-top-head h2 {
      margin-bottom: 5em;
      font-size: 1.5em;
    }

    #email {
      margin-bottom: 1.5em;
    }

    button#btn-new {
      width: 82%;
      height: auto;
      font-size: 1em;
      margin-left: 0.02em;
      margin-top: 1em;
    }

    button#btn-login {
      width: 82%;
      height: auto;
      margin-bottom: 1em;
      margin-left: 0.10em;
      margin-top: 1em;
    }

    .m-login-new a {
      font-size: 1.5em;
      margin-bottom: 4.5em;
    }

    .m-email-field input {

    }
  }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
.l-banner {
  background: url(../images/background_couple.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width:100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.l-top-head h1, h2 {
   font-family:'Lato', sans-serif;
   font-weight:300;
   color:#c60098;
   text-align:center;
   margin:0.2em;

}

.l-top-head h1 {
  font-size:5em;
}

.l-top-head h2 {
  font-size: 1.5em;
}


.l-top-head {
  margin-top: 2em;
  margin-bottom: 7em;
}

 .m-login-new a {
      font-size: 1.5em;
      margin-bottom: 2em;
    }
