html, body {
  margin:0;
  padding:0;
}

body{
  background-color:#feefe2;

}


header {
  background-color:#f97e73;
  width:100%;
  top:0;
  height:6em;
  position:relative;
  text-align:center;

}


nav {
  display:inline-block;
  text-align:center;
  /* background-color:purple; */
  bottom:0;
  /* position:absolute; */
  width:680px;
}

.mobile-inv{
  display:none;
}


h1, h2, h3, p, small {
  font-family:'Lato', sans-serif;
}

header h1{
  margin-top:0;
  padding-top:0.2em;
  padding-left:0.2em;
  color:white;
  font-size:4em;
  font-weight:300;
  display:inline-block;
  /* background-color:red; */
  width:260px;

}

nav a{
  font-family:'Lato', sans-serif;
  font-weight:300;
  color:white;
  width:24%;
  display:inline-block;
  text-decoration:none;
  font-size:1.5em;
  line-height:170%;
  /* background-color:red; */
  margin-bottom:3px;
}

.logout-top {
  font-family:'Lato', sans-serif;
  font-weight:300;
  color:white;
  width:24%;
  display:inline-block;
  text-decoration:none;
  font-size:1.5em;
  line-height:170%;
  /* background-color:red; */
  margin-bottom:3px;
}


main {
  width:100%;
  text-align: center;
  top: 6em;
  bottom: 3em;
  overflow: auto;
  position: absolute;
}

main h1 {
  color:#c60098;
  font-size:3em;
  font-weight:300;
}

main h2 {
  color:#c60098;
  font-weight:300;
}

main p {
  color:#c60098;
  font-weight:300;
}


footer {
  background-color:#f97e73;
  width:100%;
  position:absolute;
  bottom:0;
  height:3em;
  text-align:center;
}

small {
  color:white;
  font-weight:100;
}

.logout-bottom {
  font-family:'Lato', sans-serif;
  font-weight:300;
  color:white;
  position:absolute;
  bottom:0.5em;
  right:1em;
  text-decoration:none;
  font-size:1.5em;
  /* background-color:red; */
}

input {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .1em solid #c60098;
  outline:none;
}

input#add {
 margin-top: 0.5em;
 padding: .5em 1.6em;
 border: .2em solid #c60098;
 background-color: #930071;
 color: white;
}


input#add:hover {
  background-color: #c60098;
  cursor: pointer;

}


input#submit {
   margin-top: 1em;
   padding: .5em 1.6em;
   border: .2em solid #c60098;
   background-color: #930071;
   color: white;
   display: block;
   margin: 1em auto;
}

.edit {
  display: block;
  margin: .6em auto;
  padding: .4em .8em;
  width: 15em;

}

form {
  text-align: center;

}

.move-p {
  margin-top: -1.2em;
  margin-bottom: 1.5em;
}

input#enter {
   display: block;
   margin: 1em auto;
   margin-top: 1em;
   padding: .5em 1.6em;
   border: .2em solid #c60098;
   background-color: #930071;
   color: white;
}

#countdown {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  color: #50003e;
  width:8em;
  height:1em;
  margin:0 auto;
}

.item {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: #50003e;
}

#date {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #50003e;
}

  /* standard browser */
  @media only screen and (min-width: 960px){
    input[type="text"]{
      width:20em;
      font-size:1em;
    }
    input[type="password"]{
      width:20em;
      font-size:1em;
    }
    /* input[type="date"]{
      border-bottom: 2px solid #c60098;
    } */
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

    header{
      height:4.5em;
    }

    header h1{
      font-size:3em;
      width:195px;
    }

    nav{
      width:550px;
    }
    nav a{
      font-size:1.25em;
      line-height:170%;
    }
    .logout-top{
      font-size:1.25em;
      line-height:170%;
    }

    main {
      top: 4.5em;
      bottom: 3em;
    }
    input[type="text"]{
      width:17em;
      font-size:1em;
    }
    input[type="password"]{
      width:17em;
      font-size:1em;
    }
    /* input[type="date"]{
      border-bottom: 2px solid #c60098;
    } */
  }

  /* desktop size */
  @media only screen and (min-width: 768px) {
    .logout-bottom{
      display:none;
    }

  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    header{
      height:3em;
    }
    header h1{
      font-size:2em;
      width:125px;
    }
    nav{
      width:340px;
    }
    nav a{
      line-height:200%;
      font-size:1em;
      width:30%;
    }
    .logout-top{
      display:none;
    }

    main h1{
      font-size:2em;
    }
    .logout-bottom {
      font-size:1em;
      right:0;
      bottom:0;
      padding:14px;
      background-color:#d95e53;
    }

    main {
      top: 3em;
     bottom: 3em;
    }

    input[type="text"]{
      width:14em;
      font-size:1em;
    }
    input[type="password"]{
      width:14em;
      font-size:1em;

  }
}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    header{
      height:3em;
    }
    header h1{
      display:none;
    }
    nav{
      width:250px;

    }

    nav a{
      font-size:1em;
      line-height:200%;
      width:30%;
      display:none;
    }

    .logout-top{
      display:none;
    }

    .mobile-inv{
      font-size:1.5em;
      line-height:200%;
      width:30%;
      display:inline-block;
    }

    main h1{
      font-size:1.5em;
      margin-top: .3em;
      margin-bottom: none;
    }

    main h2 {
      font-size: 1em;
      margin-top: -.8em;
    }

    .logout-bottom {
      font-size:1em;
      right:0;
      bottom:0;
      padding:14px;
      background-color:#d95e53;
    }
    small{
      display:block;
      width:150px;
      margin:0 auto;
    }

    main {
      top: 3em;
      bottom: 3em;
    }

    input[type="date"] {
      display: block;
      margin: 0 auto;
      width: 150px;
    }

    input[type="date"]:before {
      content: attr(placeholder);
      color: #50003e;
    }

    input[type="date"]:focus:before, input[type="date"]:valid:before {
      content: "date:";
    }

    #event {
      width: 150px;
    }

  }

